﻿@model EditEmployeeViewModel
<h2>Create a new employee</h2>
<form asp-controller="Employee" asp-action="AddEmployee" method="post" class="form-horizontal" role="form">
    <h4>Enter the employee details below</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Employee.FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Employee.FirstName" class="form-control" />
            <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Employee.LastName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Employee.LastName" class="form-control" />
            <span asp-validation-for="Employee.LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Employee.Address" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Employee.Address" class="form-control" />
            <span asp-validation-for="Employee.Address" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Employee.IsSameAsFullAddress" class="col-md-2 control-label"></label>
        <div class="col-md-2">
            <span style="display: inline-block;">
                <input type="checkbox" asp-for="Employee.IsSameAsFullAddress" class="form-control" />
                <label >As Above</label>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Employee.EmailAddress" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Employee.EmailAddress" class="form-control" />
            <span asp-validation-for="Employee.EmailAddress" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Employee.PhoneNo" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Employee.PhoneNo" class="form-control" />
            <span asp-validation-for="Employee.PhoneNo" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Employee.CitizenShipStatus" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Employee.CitizenShipStatus" class="form-control" />
            <span asp-validation-for="Employee.CitizenShipStatus" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Employee.StartDate" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Employee.StartDate" class="form-control" />
            <span asp-validation-for="Employee.StartDate" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Employee.EmployeeType" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Employee.EmployeeType" asp-items="Html.GetEnumSelectList<EmployeeType>()">
                <option selected="selected" value="">Please select</option>
            </select>
            <span asp-validation-for="Employee.EmployeeType" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Employee.PositionTitle" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Employee.PositionTitle" class="form-control" />
            <span asp-validation-for="Employee.PositionTitle" class="text-danger"></span>
        </div>
    </div>
    <h4>Emergency Contact Person:</h4>
    <hr />
    <div class="form-group">
        <label asp-for="Employee.EmergencyContact.Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Employee.EmergencyContact.Name" class="form-control" />
            <span asp-validation-for="Employee.EmergencyContact.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Employee.EmergencyContact.Relationship" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Employee.EmergencyContact.Relationship" class="form-control" />
            <span asp-validation-for="Employee.EmergencyContact.Relationship" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Employee.EmergencyContact.PhoneNo" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Employee.EmergencyContact.PhoneNo" class="form-control" />
            <span asp-validation-for="Employee.EmergencyContact.PhoneNo" class="text-danger"></span>
        </div>
    </div>
    @*@await Html.PartialAsync("_EmergencyContactPartial", Employe);*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Create Employee" />
        </div>
    </div>


    <br /><br />
    <div class="form-group">
        <label class="col-md-2 control-label">Employee's Signature:</label>
        <div class="col-md-5">
             <textarea  class="form-control"></textarea>
        </div>
    </div>

   

    @if (Model.Employee != null)
    {
        <script type="text/javascript">
            $(function () {
                /**/
                alert("New Employee Successfully Inserted: " + @Model.Employee.EmployeeId);
               /**/
             });
        </script>
    }

</form>
