﻿@model IEnumerable<Employee>
@if (!Model.Any())
{
    <tr><td colspan="3" class="text-center">No employee registed at this point :()</td></tr>
}
else
{
    <table class="table table-condensed table-bordered" header header-content="Pie Management">
        <tr>
            <th>Employe Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Phone No</th>
            <th>Citizenship</th>
            <th>Start Date</th>
            <th>Employee Type</th>
            <th>Position Title</th>
            <th>Emergency Contact</th>
        </tr>
        @foreach (var employee in Model)
        {
        <tr>
            <td>@employee.EmployeeId</td>
            <td>@employee.FirstName</td>
            <td>@employee.LastName</td>
            <td>@employee.Address</td>
            <td>@employee.PhoneNo</td>
            <td>@employee.CitizenShipStatus</td>
            <td>@employee.StartDate</td>
            <td>@employee.EmployeeType</td>
            <td>@employee.PositionTitle</td>
            <td>@employee.EmergencyContact.Name</td>
        </tr>
        }
    </table>
}
    <p>
        <a class="btn btn-primary" asp-action="AddEmployee">Add new Employee</a>
        <a class="btn btn-primary" asp-action="GetCsv">Download As CSV</a>
    </p>



