﻿@using Microsoft.AspNetCore.Mvc.Localization

@model HomeViewModel

@{
    Layout = "_Layout";
}

<h2>@Model.Title</h2>
<h2>@ViewData["PageTitle"]</h2>

@foreach (var employee in Model.Employees)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3 class="pull-right">
                    @employee.FirstName
                </h3>
                <h3>
                    <a asp-controller="Home"
                       asp-action="Details" asp-route-id="@employee">
                        @employee.FirstName
                    </a>
                </h3>
                <p>@employee.EmailAddress</p>
                <p>@employee.PositionTitle</p>
                <p>@employee.StartDate</p>
            </div>
        </div>
    </div>
}


<email address="info@@SecuredSign.com" content="Contact us"></email>