﻿@model EmergencyContact
@{
    ViewData["Title"] = "Emergency Contact Person:";
}

<div class="form-group">
    <label asp-for="Name" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="Relationship" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Relationship" class="form-control" />
        <span asp-validation-for="Relationship" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="PhoneNo" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="PhoneNo" class="form-control" />
        <span asp-validation-for="PhoneNo" class="text-danger"></span>
    </div>
</div>

