﻿
@*@using System.Security.Claims
@using System.Threading.Tasks

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using Microsoft.AspNetCore.Mvc.Localization*@

@*@inject SignInManager<IdentityUser> SignInManager
@inject IAuthorizationService AuthorizationService
@inject UserManager<IdentityUser> UserManager
@inject IViewLocalizer Localizer*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["PageTitle"]</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
          asp-fallback-href="lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="hidden"
          asp-fallback-test-property="visibility"
          asp-fallback-test-value="hidden" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script asp-src-include="lib/jquery/dist/jquery.js"></script>
    <script asp-src-include="lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script asp-src-include="lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @*<script asp-src-include="Scripts/**/*.js"
        asp-src-exclude="Scripts/TempScripts/*.js"></script>*@

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Employee" asp-action="Index" class="navbar-brand">Scured Signing </a></li>
                    <li> <a asp-controller="Employee" asp-action="Index">All Employees</a>></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">
                    <img class="img-responsive" alt="Scured Signing" src="~/Images/securedSign.jpg" asp-append-version="true" />
                </p>
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
          
        </div>
    </div>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" />
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
